---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex justify-center flex-row">
        Hey, I'm Facundo Fernandez <Badge>Open to work</Badge>
      </h1>
      <h2>
        2 years experience, Frontend Developer & UX Enthusiast. Currently based
        in Ireland. AGREGAR MAS COSAS A LA DESCRIPCION
      </h2>

      <ul></ul>
    </section>
  </main>
</Layout>
