---
const EXPERIENCE = [
  {
    date: "Jan 2024 - Present",
    title: "Web Developer @ Montagne Outdoors",
    description:
      "As a full stack web developer, my work focuses on enriching the e-commerce platform and website, applying my knowledge in PHP, JavaScript, and MySQL within a PrestaShop environment. I handle the design of personalized emails and the development of landing pages for promotions, striving to offer a smooth and pleasant user experience. I work closely with the marketing and design departments, keeping our site up-to-date and optimized. This role has allowed me to grow professionally, learning the value of innovation and teamwork.",
    location: "Remote",
    keySkills:
      "Agile Development, JavaScript, GIT, PHP, MySQL, Laravel, PrestaShop, HTML5, CSS3",
  },

  {
    date: "Oct. 2023 - Jan 2024",
    title: "Full Stack Teaching Assistant @ Henry Bootcamp",
    description:
      "Academic Experience. Coordinated a group of students to facilitate their integration into the study team. Assisted in solving exercises and promoted group collaboration (Pair Programming). Proposed ideas for improving Bootcamp processes.",
    location: "Remote",
    keySkills:
      "Agile Development, JavaScript, GIT, React.js, PostgreSQL, Node.js ",
  },
  {
    date: "Aug 2022 - Jan 2024",
    title: " AIRBNB Customer Service Specialist @ TELUS International",
    description:
      "In my role at Airbnb, I mastered quick decision-making and problem-solving in high-pressure scenarios, vital for tackling complex challenges. My experience in clearly communicating with a diverse customer base honed my ability to convey intricate information effectively. I have a sharp eye for detail and a commitment to quality, ensuring satisfaction in fast-paced environments. These skills, coupled with my adaptability and eagerness to learn, equip me to excel in dynamic settings.",
    location: "Cork, Ireland",
    keySkills: "Problem Solving, Agile Development",
  },
  {
    date: "Jan 2022 - Aug 2022",
    title: "SNAPCHAT Content Moderator @ TELUS International",
    description: "Moderating content and ensuring compliance with standards.",
    location: "Cork, Ireland",
    keySkills: "Scrum, Agile development",
  },
  {
    date: "Jun 2022 - Oct 2022",
    title: "Brand Manager (Freelance) @ Lund Marketing",
    description:
      "Managing and enhancing brand strategies and marketing initiatives.",
    location: "Cork, Ireland",
    keySkills: "Scrum, Problem Solving, Agile Development",
  },
];

import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
