---
const EXPERIENCE = [
  {
    date: "Jan 2024 - Present",
    title: "Full Stack Web Developer @ Montagne Outdoors",
    description:
      "Enhancing our e-commerce platform and website using PHP, JavaScript, and SQL in a PrestaShop environment. Adopting a mobile-first design approach to optimize user experience predominantly on mobile devices. Employing Scrum and Agile methodologies, closely collaborating with the marketing and design departments to keep our website optimized and up-to-date.",
    location: "Remote",
    keySkills:
      "Agile Development, JavaScript (ES6+), GIT, PHP, SQL, Smarty, PrestaShop, HTML5, CSS3",
  },

  {
    date: "Nov 2023 - Present",
    title: "E-commerce Platforms Manager @ Freelance",
    description:
      "Providing consultancy and development services to optimize online stores on Shopify, PrestaShop, and WordPress. Specializing in integrating supplier APIs, automating processes, and managing content efficiently with CSV files in Shopify. Designing Smarty templates for PrestaShop and handling PHP on WordPress. Esteemed client: https://www.bigtrends.eu/.",
    location: "Remote",
    keySkills:
      "JavaScript (ES6+), PHP, PrestaShop, HTML5, CSS3",
  },

  {
    date: "Oct. 2023 - Jan 2024",
    title: "Full Stack Teaching Assistant @ Henry Bootcamp",
    description:
      "Academic Experience. Coordinated a group of students to facilitate their integration into the study team. Assisted in solving exercises and promoted group collaboration (Pair Programming). Proposed ideas for improving Bootcamp processes.",
    location: "Remote",
    keySkills:
      "Agile Development, JavaScript (ES6+), GIT, React.js, PostgreSQL, Node.js ",
  },
  {
    date: "Aug 2022 - Jan 2024",
    title: " AIRBNB Customer Service Specialist @ TELUS International",
    description:
      "In my role at Airbnb, I mastered quick decision-making and problem-solving in high-pressure scenarios, vital for tackling complex challenges. My experience in clearly communicating with a diverse customer base honed my ability to convey intricate information effectively. I have a sharp eye for detail and a commitment to quality, ensuring satisfaction in fast-paced environments. These skills, coupled with my adaptability and eagerness to learn, equip me to excel in dynamic settings.",
    location: "Cork, Ireland",
    keySkills: "Problem Solving, Agile Development",
  },
  {
    date: "Jan 2022 - Aug 2022",
    title: "SNAPCHAT Content Moderator @ TELUS International",
    description: "Moderating content and ensuring compliance with standards.",
    location: "Cork, Ireland",
    keySkills: "Scrum, Agile development",
  },
  {
    date: "Jun 2022 - Oct 2022",
    title: "Brand Manager (Freelance) @ Lund Marketing",
    description:
      "Managing and enhancing brand strategies and marketing initiatives.",
    location: "Cork, Ireland",
    keySkills: "Scrum, Problem Solving, Agile Development",
  },
];

import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
