---
const EXPERIENCE = [
  {
    date: "Oct. 2023 - Jan 2024",
    title: "Full Stack Teaching Assistant @ Henry Bootcamp",
    description:
      "Academic Experience. Coordinated a group of students to facilitate their integration into the study team. Assisted in solving exercises and promoted group collaboration (Pair Programming). Proposed ideas for improving Bootcamp processes.",
    location: "",
    keySkills: "",
  },
  {
    date: "Aug 2022 - Present",
    title: " AIRBNB Customer Service Specialist @ TELUS International",
    description: "Providing quality customer service and support.",
    location: "Cork, Ireland",
    keySkills: "Problem Solving, Agile Development",
  },
  {
    date: "Jan 2022 - Aug 2022",
    title: "SNAPCHAT Content Moderator @ TELUS International",
    description: "Moderating content and ensuring compliance with standards.",
    location: "Cork, Ireland",
    keySkills: "Scrum, Agile development",
  },
  {
    date: "Jun 2022 - Oct 2022",
    title: "Brand Manager (Freelance) @ Lund Marketing",
    description:
      "Managing and enhancing brand strategies and marketing initiatives.",
    location: "Cork, Ireland",
    keySkills: "Scrum, Problem Solving, Agile Development",
  },
];

import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
