---
const EXPERIENCE = [
  {
    date: "FECHA",
    title: "TEACHING ASSISTANT",
    description: "DESCRIPCION",
  },
  {
    date: "FECHA",
    title: "TELUS ",
    description: "AIRBNB",
  },
  {
    date: "FECHA",
    title: "TELUS",
    description: "SNAPCHAT",
  },
  {
    date: "FECHA",
    title: "LUND",
    description: "ACCOUNT MANNAGER",
  },
];

import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }

</ol>
