---
const programmingAndMarkupLanguages = ["JavaScript (ES6+)", "TypeScript", "PHP", "HTML5", "CSS3"];
const frameworksAndLibraries = ["React.js", "Redux", "Next.js", "jQuery", "Bootstrap", "Sass", "Tailwind CSS", "Express", "Sequelize", "Axios"];
const runtimeEnvironment = ["Node.js"]
const developmentTools = ["Figma", "Webpack", "Git", "npm", "Composer"];
const databases = ["SQL Server", "PostgreSQL", "MySQL"];
const cmsPlatforms = ["Wordpress", "Shopify", "Prestashop"]
const otherTools = ["REST APIs", "SOAP APIs", "Ajax"];

const skills = [
  { category: "Programming and Markup Languages", skills: programmingAndMarkupLanguages },
  { category: "Frameworks and Libraries", skills: frameworksAndLibraries },
  { category: "Runtime Environment", skills: runtimeEnvironment },
  { category: "Development Tools", skills: developmentTools },
  { category: "Databases", skills: databases },
  { category: "CMS/Platforms", skills: cmsPlatforms },
  { category: "Other Tools", skills: otherTools },
];

const skillClass = "bg-blue-100 text-blue-800 p-2 rounded-md m-1";
---

<div class="p-4">
  {skills.map((category) => (
    <div>
      <h3 class="font-bold text-xl mb-2 text-white">{category.category}</h3>
      <div class="flex flex-wrap">
        {category.skills.map((skill) => <span class={skillClass}> {skill} </span>)}
      </div>
    </div>
  ))}
</div>

