---
const skills = [
  "React.js",
  "React custom hooks",
  "Redux",
  "Redux toolkit",
  "JavaScript",
  "Testing (TDD)",
  "Webpack",
  "Figma",
  "Node.js",
  "Vite.js",
  "Next.js",
  "JQuery",
  "Astro",
  "Bootstrap",
  "HTML",
  "CSS",
  "Material UI",
  "Tailwind Css",
  "Spline 3D",
  "Wordpress",
  "GIT",
  "Express",
  "Sequelize",
  "MongoDB",
  "PostgreSQL",
  "Prisma",
  "Currently learning: Typescript",
];

const skillClass = "bg-blue-100 text-blue-800 p-2 rounded-md m-1";
---


<div class="p-1">
  <div class="flex flex-wrap">
    {skills.map((skill) => <span class={skillClass}>{skill}</span>)}
  </div>
</div>
