<header
  class="flex justify-center items-center py-8 mx-auto text-xl text-white w-full"
>
  <nav
    class="w-full max-w-4xl mx-auto p-2 opacity-80 rounded-lg border-b-2 shadow-md shadow-white"
  >
    <ul
      class="flex flex-wrap justify-between items-center md:flex-nowrap gap-2 md:gap-x-10"
    >
      <li class="text-center my-2 md:my-0">
        <a href="#top" class="hover:scale-105 hover:bg-white/5 transition"
          >Home</a
        >
      </li>
      <li class="text-center my-2 md:my-0">
        <a href="#about" class="hover:scale-105 hover:bg-white/5 transition"
          >About</a
        >
      </li>
      <li class="text-center my-2 md:my-0">
        <a href="#projects" class="hover:scale-105 hover:bg-white/5 transition"
          >Projects</a
        >
      </li>
      <li class="text-center my-2 md:my-0">
        <a
          href="#experience"
          class="hover:scale-105 hover:bg-white/5 transition">Experience</a
        >
      </li>
      <li class="text-center my-2 md:my-0">
        <a href="#contact" class="hover:scale-105 hover:bg-white/5 transition"
          >Contact</a
        >
      </li>
      <li class="text-center my-2 md:my-0">
        <a
          href="https://drive.google.com/uc?export=download&id=19XuA52SOAIpS17ZLGdwSMG5Z0r8DlDRa"
          class="hover:scale-105 hover:bg-white/5 transition"
          download="FacundoFernandez-Resume.pdf">Download CV</a
        >
      </li>
    </ul>
  </nav>
</header>