<header class="py-8 mx-auto text-xl text-white">
  <nav
    class="grid gap-2 md:flex justify-center items-center md:flex-row md:flex-wrap gap-x-10 opacity-80 rounded-lg border-b-2 shadow-md shadow-white p-2"
  >
    <a
      href="#top"
      class="my-2 md:my-0 hover:scale-105 hover:bg-white/5 transition">Home</a
    >
    <a
      href="#about"
      class="my-2 md:my-0 hover:scale-105 hover:bg-white/5 transition">About</a
    >
    <a
      href="#projects"
      class="my-2 md:my-0 hover:scale-105 hover:bg-white/5 transition"
      >Project</a
    >
    <a
      href="#experience"
      class="my-2 md:my-0 hover:scale-105 hover:bg-white/5 transition"
      >Experience</a
    >
    <a
      href="#contact"
      class="my-2 md:my-0 hover:scale-105 hover:bg-white/5 transition"
      >Contact</a
    >
    <a
      href="https://drive.google.com/uc?export=download&id=1VCQMxuX8s9lH7MySWGz7xIgqSSTSPrDy"
      class="my-2 md:my-0 hover:scale-105 hover:bg-white/5 transition"
      download="FacundoFernandez-Resume.pdf">Download CV</a
    >
  </nav>
</header>
